.heading-container{
    background-image: url("media/images/cover1.png");
    background-color: #f1fac1;
    text-align:center;
}
body{
    margin: 0px;
}

.heading{
    width: 100%;
    padding-top: 50px;
    height: 12px;
    text-align: center;
}
.name-container{
    font-style: bold;
}
.body-container{
    padding: 20px;
    background-color: #FFE89F;
}
.social-tab{
    padding-top: 11px;
}
.address-tab{
    padding: 5px;
    border-radius: 11%;
    background-color: #ffc4023f;
}
body a, a:visited{
    text-decoration: none;
    color:#000;
}