.heading-container{
    background-image: url("media/images/cover.png");
    background-color: #ffffff;
    text-align:center;
}
body{
    margin: 0px;
}

.heading{
    width: 100%;
    padding-top: 50px;
    height: 41px;
    text-align: center;
}
.name-container{
    font-style: bold;
}
.body-container{
    padding: 20px;
    background-color: #ffffff;
}
.social-tab{
    padding-top: 11px;
    background-color: #ff00003b;
}
.address-tab{
    padding: 5px;
    border-radius: 11%;
    background-color: #ffffff3f;
}
body a, a:visited{
    text-decoration: none;
    color:rgb(97, 0, 0);
}

.Neko-tine{
    padding-top: 11px;
    text-align: center;
}