.heading-container{
    background-image: url("media/images/cover.png");
    background-color: #ffffff;
    text-align:center;
}
body{
    margin: 0px;
}

.heading{
    width: 100%;
    padding-top: 50px;
    height: 41px;
    text-align: center;
}
.name-container{
    font-style: bold;
}
.body-container{
    padding: 20px;
    background-color: #ffffff;
}
.social-tab{
    padding-top: 11px;
    background-color: #ff00003b;
}
.address-tab{
    padding: 5px;
    border-radius: 11%;
    background-color: #ffffff3f;
}
body a, a:visited{
    text-decoration: none;
    color:rgb(97, 0, 0);
}

.g-form{
    text-align: center;
    padding-top: 20px;
}
@media screen and (max-width: 1000px){
    .float-cont1{
        padding-top: 20px;
        padding-bottom: 50px;
        /* padding-left: 41px;
        padding-right: 41px; */
        display: grid;
        /* grid-auto-columns: auto; */
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        /* text-align: center; */
        display: flex;
        justify-content: space-between;
    }
}


.Neko-tine{
    /* float: left; */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
/* .nekotineiframe{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 14%;
    width: 400px !important;
    height: 800px !important;

 } */

.NGA{
    /* float: left; */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.Nioneer{
    /* float: left; */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.Qzee{
    /* float: left; */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
